<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="form-group">
      <% if current_user.present? %>
        <input type="email" class="form-control <%= input_class %>" id="user_email" placeholder="Email" value="<%= current_user.email %>" name="user[email]" required>
      <% else %>
        <input type="email" class="form-control <%= input_class %>" id="user_email" placeholder="Email" autofocus="true" name="user[email]" required>
      <% end %>
    </div>
  </div>
</div>
