<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="form-group">
      <input type="email" class="form-control <%= input_class %>" id="user_signup_email" placeholder="Email" autofocus="true" name="user[email]" required>
    </div>
  </div>
</div>
