<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="form-group">
      <input class="form-control <%= input_class %>" name="user[last_name]" placeholder="Last name" required="required" type="text" value="<%= user.try(:last_name) %>" required>
    </div>
  </div>
</div>
