<div class="row bottom-margin-tiny">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="form-group">
      <input class="form-control" name="user[location_attributes][street_1]" placeholder="Street address" required="required" type="text">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="form-group">
      <input class="form-control" name="user[location_attributes][zip]" placeholder="Zip code" required="required" type="text">
    </div>
  </div>
</div>
