<div class="row bottom-margin">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="form-group">
      <input class="form-control <%= input_class %>" autocomplete="off" id="user_password" name="user[password]" type="password" placeholder="Create a password" required minlength="6">
    </div>
  </div>
</div>
