<div class="modal" id="channelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <%= render "channels/channel", channel: channel, version: "long" %>
  </div>
</div>
