<div class="container-fluid">
  <% unless @channels.any? %>
    <div class="row">
      <div class="col-md-12">
        <h1 class="center">COMING SOON...</h1>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-centered">
      <div class="row">
        <% @channels.each do |channel| %>
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" style="min-width:330px;">
            <%= render "channels/link_channel", channel: channel %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="channel-modal-container">
</div>
