<a href="/auth/facebook?return_to_url=<%= request.url %>" id="sign_in" class="btn btn-lg btn-facebook btn-block" data-disable-with="<i class='fa fa-circle-o-notch fa-spin'></i> Submitting...">
	<div class="row">
		<div class="col-md-1 col-sm-1 col-xs-2"><i class='fa fa-facebook'></i></div>
		<div class="col-md-10 col-sm-10 col-xs-8"><%= prefix %> with Facebook</div>
	</div>
</a>
