<li>
	<a href="#" class="signup-options-link nav-caw-link" style="font-weight:bold;text-shadow:none;">
		Sign Up
	</a>
</li>
<li>
	<a href="#" class="login-link nav-caw-link" style="font-weight:bold;text-shadow:none;">
		Log In
	</a>
</li>
