<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <small>
      By signing up I agree to <%= t('application.root.name') %>'s <%= link_to "Terms of Service", terms_path %> and <%= link_to "Privacy Policy", privacy_path %>.
    </small>
  </div>
</div>
