<div class="row top-margin-small bottom-margin-small">
  <div class="col-md-5 col-sm-5 col-xs-5 no-right-padding">
    <hr>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 no-side-padding">
    <div class="or-divider">
      or
    </div>
  </div>
  <div class="col-md-5 col-sm-5 col-xs-5 no-left-padding">
    <hr>
  </div>
</div>
