<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-8">
      <% currency = params[:currency].present? ? params[:currency] : "btc" %>
      <%= link_to "Bitcoin", "/quotes?currency=btc", class: "#{'active' if currency == "btc"}" %> |
      <%= link_to "Litecoin", "/quotes?currency=ltc", class: "#{'active' if currency == "ltc"}" %> |
      <%= link_to "Ethereum", "/quotes?currency=eth", class: "#{'active' if currency == "eth"}" %>
    </div>
    <div class="col-md-3">
      Volume
    </div>
  </div>
  <% comparison_quote_prices = [] %>
  <% comparison_average_price = nil %>
  <% previous_price = nil %>
  <% previous_volume = nil %>
  <% current_running_price_average = nil %>
  <% previous_running_price_average = nil %>
  <% @quotes.each_with_index do |quote, index| %>
    <%= render "welcome/bar", q: quote, comparison_average_price: comparison_average_price, previous_volume: previous_volume, previous_price: previous_price, current_running_price_average: quote.running_price_average(@running_price_average_minutes), previous_running_price_average: previous_running_price_average %>
    <% previous_price = quote.price %>
    <% previous_volume = quote.volume %>
    <% previous_running_price_average = quote.running_price_average(@running_price_average_minutes) %>
    <% comparison_quote_prices << quote.price %>
    <% if comparison_quote_prices.size == @lookback_minutes %>
      <% comparison_average_price = Numbers.average(comparison_quote_prices) %>
      <% comparison_quote_prices.shift %>
    <% end %>
  <% end %>

</div>
