
$white: #fff;

$grey_darkest: #565656;
$grey_darker: #808080;
$grey_dark: #A8A8A8;
$grey: #DBDBDB;
$grey_light: #bdbdbd;
$grey_lighter: #D0DBE0;
$grey_lightest: #EDF0F1;
$body_grey: #4a4a4a;

$yellow: #F9C41A;

$blue_light: #f2f7f9;

$btc_orange: #F7931A;
