/* Large desktop */
@media (min-width: 1200px) {

}

/* Medium desktop */
@media (min-width: 992px) and (max-width: 1199px) {
  .search-form {
    left: 90px;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {
  #page-channels-index {
    .container-fluid.body {
      padding: 30px;
    }
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  #page-channels-index {
    .container-fluid.body {
      padding: 30px;
    }
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {

}
