<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
      <h1>Edit Rule</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
      <%= link_to "Edit Channel", edit_channel_path(@channel) %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
      <%= render "shared/error_messages", object: @channel %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
      <%= render 'rules/form', channel: @channel, rule: @rule %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
      <hr>
    </div>
  </div>
</div>
