#page-channels-index {
  .container-fluid.body {
    padding: 30px 15px;
    min-height: 600px;

    p {
      font-size: 18px;
    }
  }

  .close {
    position: absolute;
    z-index: 20000;
    top: 0px;
    right: 10px;
  }

  .search-form-container {
    height: 0px;
    .search-form {
      position: relative;
      top: -83px;
      .search-icon-container {
        height: 0px;
        color: $grey_dark;
        position: relative;
        top: -38px;
        left: 15px;
        .fa-spinner {
          position: relative;
          left: 83%;
        }
      }
      input {
        padding-left: 50px;
      }
      .dropdown-menu {
        width: 100%;
      }
    }
  }

  .sort-link {
    font-size: 2em;
  }

  a:hover, a:focus, a:active {
    text-decoration: none;
  }

  .channel {
    font-size: 22px;
    margin-bottom: 30px;

    .top {
      font-size: 30px;
      color: $white;
      @include rounded_top_border;
      padding: 20px 20px 0px 20px;
      .currency-name {
        display: inline-block;
        position: relative;
        top: -15px;
        left: 5px;
      }
    }

    .middle {
      color: $white;
      padding: 0 15px 20px 20px;
      height: 130px;
      font-size: 26px;
      .name {
        overflow: hidden;
        height: 110px;
      }
    }

    .bottom {
      padding: 20px;
      @include rounded_bottom_border;
      background: $grey_light;
      min-height: 90px;

      .fa-toggle-on {
        color: green;
      }
      img {
        height: 50px;
      }
    }

    svg {
      height: 50px;
      width: 50px;
    }

    svg path {
      fill: white;
    }
  }


  .channel-long {
    a {
      color: $white;
      text-decoration: underline;
    }

    .colon {
      position: relative;
      right: 10px;
    }

    svg {
      height: 60px;
      width: 60px;
    }

    .top {
      font-size: 42px;
    }

    .middle {
      font-size: 32px;
      height: auto;
      .name {
        height: auto;
      }
    }

    .description {
      margin-top: 10px;
      font-size: 18px;
    }
  }

}
